/* Estilos globales */
body {
  font-family: Tahoma, sans-serif;
  background:#6B46C1;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto 0; /* Añade margen superior de 20px */
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  background:#2b2c61;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 50px; /* Añade margen inferior de 20px */
}

.header img {
  width: 50px;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav img {
  width: 50px;
  margin-right: 10px;
}

/* Estilo inicial para ocultar el botón */
.open-btn {
  cursor: pointer; /* Muestra el cursor como un puntero para indicar clic */
}

/* Muestra el botón cuando se pasa el ratón por encima del contenedor */
.nav:hover .open-btn {
  opacity: 3; /* Muestra la imagen */
}

/* Barra Lateral */
.sidebar {
  height: 100%; /* Ocupa toda la altura de la pantalla */
  width: 0; /* Inicia oculta */
  position: fixed;
  top: 0;
  right: 0; /* Se abre desde el lado derecho */
  background-color: rgba(31, 29, 31, 0.9); /* Fondo con opacidad */
  overflow-x: hidden;
  transition: 0.6s; /* Transición para abrir/cerrar suavemente */
  padding-top: 60px; /* Espacio en la parte superior */
  backdrop-filter: blur(8px); /* Efecto difuminado */
  z-index: 1000;
}

/* Enlaces dentro de la barra lateral */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff; /* Color del texto */
  display: block;
  transition: 0.3s; /* Transición en el color al pasar por encima */
}

.sidebar a:hover {
  color: #8a67c9; /* Cambia a morado claro al hacer hover */
}

/* Botón para cerrar el sidebar */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

/* Clases para abrir y cerrar el sidebar */
.sidebar-open {
  width: 250px; /* Ancho del sidebar cuando está abierto */
}

/* Título y botón */
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: #333;
}

.title-bar h2 {
  margin: 0;
  font-size: 1.2em;
}

.btn-add {
  padding: 10px 20px;
  background-color: #2b2c61;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-add:hover {
  background-color: #5746b1;
}

/* Tabla de recordatorios */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #e2e8f0;
  text-align: left;
  font-size: 14px;
}

.table th {
  background-color: #f3f4f6;
  color: #333;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #b68dfa;
}

.actions {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

.btn-edit {
  background-color: #6359b6;
}

.btn-delete {
  background-color: #f80000;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination button {
  padding: 8px 12px;
  background-color: #6b7280;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4b5563;
}

.pagination button.active {
  background-color: #4a67d9;
  font-weight: bold;
}