:root {
  /* Paleta de colores */
  --color-background: #6B46C1;
  --color-primary: #3a2e5e;
  --color-secondary: #7d5fc9;
  --color-highlight: #B68DFA;
  --color-accent: #e7c6ff;

  /* Colores neutrales */
  --color-white: #ffffff;
  --color-dark: #1b1b2f;
  --color-border: #d1c4e9;
  --color-table-header: #f0eef8;

  /* Colores adicionales para botones */
  --color-btn-delete: #f80000;
  --color-btn-delete-hover: #ff6e6e;
  --color-pagination: #6d6d6d;
  --color-primary-hover: #460eec;
  --color-pagination-hover: #4c4c4c;
  --color-pagination-active: #7851a9;
}

/* Estilos globales */
body {
  font-family: Tahoma, sans-serif;
  background: var(--color-background);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 60px auto 0;
  padding: 20px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.9s ease forwards;
}

/* Header */
.header {
  background: var(--color-primary);
  padding: 20px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  margin-bottom: 50px;
  animation: slideIn 0.6s ease-out forwards;
  flex-wrap: wrap;
}

.header img {
  width: 50px;
  margin-left: auto;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

/* Barra Lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: width 0.6s ease;
  padding-top: 3.75rem;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.sidebar.sidebar-open {
  width: 250px;
}

.sidebar a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.375rem;
  color: var(--color-highlight);
  display: block;
  transition: color 0.5s ease;
}

.sidebar a:hover {
  color: var(--color-accent);
  background-color: var(--color-secondary);
  border-radius: 0.3125rem;
}

.sidebar-name {
  font-size: 1.5rem; /* Tamaño de fuente */
  color: var(--color-white); /* Color de texto */
  padding: 1rem 2rem; /* Espaciado */
  font-weight: bold;
  border-bottom: 1px solid var(--color-secondary); /* Línea inferior */
  margin-bottom: 1rem;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.5625rem;
  font-size: 2.25rem;
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.5s ease;
}

.close-btn:hover {
  color: var(--color-highlight);
}

.open-btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav:hover .open-btn,
.open-btn:hover {
  transform: scale(1.1); /* Aumenta el tamaño ligeramente */
  background-color: var(--color-highlight); /* Cambia el fondo al color de resaltado */
}

/* Título y botón */
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: var(--color-dark);
  animation: fadeInUp 0.7s ease forwards;
  flex-wrap: wrap;
}

.title-bar h2 {
  margin: 0;
  font-size: 1.2em;
}

.title-bar a{
  text-decoration: none;
}

.btn-add {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.4s ease;
}

.btn-add:hover {
  background-color: var(--color-secondary);
}

/* Tabla*/
.table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 40px;
  animation: fadeInUp 1s ease forwards;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid var(--color-border);
  text-align: left;
  font-size: 16px;
}

.table th {
  background-color: var(--color-table-header);
  color: var(--color-dark);
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: var(--color-highlight);
}

.table td:first-child, .table th:first-child {
  width: 45%;
}

.table td:last-child(3), .table th:last-child(3) {
  width: 5%;  /* Ajusta el tamaño según lo necesario */
}

/* Ajuste de la última columna (para botones) */
.table td:last-child, .table th:last-child {
  width: 100px;  /* Ajusta el tamaño según lo necesario */
  white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
  text-align: left;  /* Centra los botones */
}

/* Opcional: ajustar el tamaño de los botones dentro de la última columna */
.table .btn {
  font-size: 12px;  /* Reduce el tamaño de la fuente si es necesario */
  padding: 6px 10px;  /* Ajusta el tamaño de los botones */
}

.actions {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-edit {
  background-color: var(--color-secondary);
}

.btn-delete {
  background-color: var(--color-btn-delete);
}

.btn:hover {
  transform: scale(1.1);
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: var(--color-pagination);
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto de activación */
.pagination .active {
  background-color: var(--color-pagination-active);
  color: var(--color-border);
  transform: scale(1.1); /* Le da un efecto de "agrandado" a la página activa */
  transition: transform 0.2s ease, background-color 0.3s ease;
}

/* Estado deshabilitado */
.pagination button:disabled {
  background-color: var(--color-border);
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

/* Hover para el efecto de animación */
.pagination button:hover {
  background-color: var(--color-highlight);
  transform: scale(1.05); /* Le da un ligero aumento al tamaño del botón al pasar el mouse */
}

/* Transición en la opacidad del botón */
.pagination button:not(:disabled) {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Modal */
.modal {
  display: none; /* Ocultar inicialmente */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Usar flexbox para centrar */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  animation: fadeIn 0.5s ease; /* Animación de fondo */
}

/* Contenido del modal */
.modal-content {
  background-color: var(--color-white); /* Fondo blanco */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--color-secondary); /* Borde con color secundario */
  width: 40%;
  max-width: 500px; /* Maximo tamaño para evitar que el modal sea muy grande en pantallas grandes */
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); /* Sombras para mejor visibilidad */
  animation: scaleUp 0.3s ease forwards; /* Efecto de escalado */
}

/* Título del modal */
.modal-content h3 {
  margin-bottom: 20px;
  color: var(--color-dark); /* Color oscuro para el texto */
  font-size: 1.4em;
}

/* Icono dentro del modal */
.modal-content i {
  font-size: 4rem; /* Más grande para destacar */
  margin-bottom: 15px; /* Espacio entre el ícono y el texto */
  color: var(--color-primary); /* Color del icono */
}

/* Acciones del modal (botones) */
.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/* Botones de acción dentro del modal */
.modal-actions button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Efecto suave en hover */
  width: 48%; /* Ajuste de tamaño de los botones */
}

/* Botón de confirmación */
.btn-confirm {
  background-color: var(--color-primary); /* Color primario */
  color: var(--color-white);
}

.btn-confirm:hover {
  background-color: var(--color-primary-hover); /* Hover en color primario */
}

/* Botón de cancelación */
.btn-cancel {
  background-color: var(--color-btn-delete); /* Rojo para eliminar */
  color: var(--color-white); /* Texto blanco */
}

.btn-cancel:hover {
  background-color: var(--color-btn-delete-hover); /* Hover en color rojo claro */
}

/* Botón de cierre del modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-dark); /* Color oscuro */
}

.close-modal:hover {
  color: var(--color-secondary); /* Cambio de color en hover */
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from {transform: scale(0.9);} /* Tamaño reducido */
  to {transform: scale(1);} /* Tamaño normal */
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0); }
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .header h1 {
    font-size: 1.2em;
  }

  .title-bar {
    flex-direction: column;
    align-items: center;
  }

  .title-bar h2 {
    margin: auto 0;
    font-size: 1em;
  }

  .btn-add {
    width: 22%;
    margin-top: 10px;
  }

  .table th, .table td {
    font-size: 12px;
    padding: 10px;
  }

  .pagination button {
    padding: 6px 10px;
  }

  .sidebar {
    width: 0; /* La sidebar estará oculta por defecto */
    transition: width 0.3s ease; /* Añadimos transición para cuando se abra */
  }

  .sidebar a {
    font-size: 1.2em;
    padding: 12px 16px;
  }

  /* Barra lateral abierta manualmente */
  .sidebar.sidebar-open {
    width: 200px; /* Define el ancho cuando la sidebar esté abierta */
  }

  .sidebar.sidebar-open a {
    display: block; /* Asegura que los enlaces sean visibles solo cuando se abre */
  }

  .sidebar-name {
    font-size: 1.3rem; /* Tamaño de fuente */
  }
}