/* Estilos globales */
body {
    font-family: Tahoma, sans-serif;
    background:#6B46C1;
    margin: 0;
    padding: 0;
    color: #333;
}
  
.container {
    width: 100%;
    max-width: 500px; /* Máximo tamaño */
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto 0; /* Centra el contenedor con margen superior de 100px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  /* Header */
.header {
    background:#2b2c61;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 50px; /* Añade margen inferior de 20px */
}
  
.header img {
    width: 50px;
    margin-right: 10px;
}
  
.header h1 {
    margin: 0;
    font-size: 1.5em;
}
  
.nav {
    margin-left: auto;
    display: flex;
    gap: 15px;
}
  
.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  
.nav img {
    width: 50px;
    margin-right: 10px;
}
  
.h2 {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

/* Información de Balance */
.balance-info {
    text-align: center;
    margin-top: 20px;
}

.balance-label {
    font-size: 1.2em;
    color: #6B46C1;
}

.balance-amount {
    font-size: 2em;
    font-weight: 700;
    color: #2b2c61;
}

.balance-status {
    margin-top: 5px;
    color: #2b2c61;
    font-size: 1.1em;
}