<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/añadir.css">
    <title>GGP - Ahorro</title>
</head>
<body>
    <form action="/ahorro/submit" id="form-ahorro" class="form" method="POST">
        <h2 class="form_tittle">Gestor de Ingresos</h2>
        <div class="form_container">
            <!-- Campo para establecer cantidad -->
            <div class="form_group">
                <input type="number" id="cantidad" name="cantidad" class="form_input" placeholder=" ">
                <label for="cantidad" class="form_label">Ingresar la cantidad</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <select id="concepto" name="concepto" class="form_input" required>
                    <option value="" disabled selected>Elegir concepto</option>
                    <!-- Opciones generadas dinámicamente -->
                </select>
                <label for="concepto" class="form_label">Concepto</label>
                <span class="form_line"></span>
            </div>

            <!-- Campo para límite de gastos -->
            <div class="form_group">
                <input type="number" id="limite_gasto" name="limite_gasto" class="form_input" placeholder=" ">
                <label for="limite_gasto" class="form_label">Establecer Límite de Gastos</label>
                <span class="form_line"></span>
            </div>

            <!-- Campo para la fecha -->
            <div class="form_group">
                <input type="date" id="fecha" name="fecha" class="form_input">
                <label for="fecha" class="form_label">Fecha</label>
                <span class="form_line"></span>
            </div>

            <!-- Botones de acción -->
            <div class="button_container">
                <button type="button" class="form_submit" onclick="verificarGasto()">Registrar Gasto</button>
                <button type="button" class="form_delete" onclick="cancelarYRedirigir()">Cancelar</button>
            </div>

            <!-- Alerta de aviso -->
            <div id="alerta" class="alert" style="display: none;"></div>
        </div>
    </form>

    <!-- Modal de alerta -->
    <div id="modal-alerta" class="modal" style="display: none;">
        <div class="modal-content">
            <button class="close-button" onclick="cerrarModal()" aria-label="Cerrar modal">&times;</button>
            <p id="modal-mensaje"></p>
        </div>
    </div>

    <!-- Importar el script -->
    <script src="./js/gastos.js"></script>
</body>
</html>
