<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/estilos.css">
    <title>GGP - Pagina principal</title> 
</head>

<body>
    <!-- Barra Lateral -->
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">×</a>
        <a href="#Inicio">Inicio</a>
        <a href="#Perfil">Perfil</a>
        <a href="#Tarjetas">Tarjetas</a>
        <a href="#Movimientos">Movimientos</a>
        <a href="#Ahorro">Ahorro</a>
        <a href="#Recordatorios">Recordatorios</a>
    </div>

    <!-- Encabezado -->
    <div class="header">
        <!-- Imagen del logo como botón para abrir la barra lateral -->
        <img src="/src/img/logo.png" alt="Logo GGP">
        <h1>Gestor de Gastos Personales</h1>
        <nav class="nav">
            <h3>Usuario</h3>
            <img src="/src/img/user-png-icon-16.jpg" alt="User" onclick="openSidebar()" class="open-btn">       
        </nav>
    </div>
    <script src="/src/js/sidebar.js"></script>
</body>
</html>
