<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <script src="https://kit.fontawesome.com/58dc328e94.js" crossorigin="anonymous"></script>
    <title>GASTI</title>
</head>
<body>
    <header class="header">
        <img class="img-logo" src="./img/logo.png" alt="Logo GGP">
        <div class="text-header">Gasti</div>
    </header>

    <main class="main">
        <!-- Background section with images -->
        <section class="background">
            <div class="overlay">
                <button class="start-btn" onclick="window.location.href='./login.html';">Ingresar</button>
            </div>
        </section>

        <section id="works" class="works">
            <h1>Un lugar para tus gastos</h1>
            <br>
            <p>Conoce la manera de mejorar tus finanzas personales.</p>
        </section>

        <section id="vision" class="vision">
            <h2>Vision</h2>
            <p>Ser el aliado principal en el control financiero personal.</p>
        </section>

        <section id="mision" class="mision">
            <h2>Mision</h2>
            <p>Simplificar la administración de gastos personales para los usuarios.</p>
        </section>

        <section id="contact" class="contact">
            <h2>Acerca de</h2>
            <p>Nuestro contacto e información del proyecto.</p>
            <a href="https://github.com/DanielAguilar13/Momazosteodoro.git"><i class="fa-brands fa-github fa-3x" style="color: --color-dark;"></i></a>
        </section>
    </main>
</body>
</html>