<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/src/styles/login.css">
</head>
<body>
  <form action="">
    <legend>BIENVENIDO</legend>
    <label>Escribe un nombre de usuario:</label>
    <input type="text" placeholder="Username">
    
    <label>Selecciona una imagen de usuario:</label>
    <div class="image-grid">
      <label>
          <img src="https://via.placeholder.com/100/ff7f7f/ffffff?text=Imagen1" alt="Imagen1">
          <input type="radio" name="image" value="img1">
      </label>
      <label>
          <img src="https://via.placeholder.com/100/7f7fff/ffffff?text=Imagen2" alt="Imagen2">
          <input type="radio" name="image" value="img2">
      </label>
      <label>
          <img src="https://via.placeholder.com/100/ffff7f/000000?text=Imagen3" alt="Imagen3">
          <input type="radio" name="image" value="img3">
      </label>
      <label>
          <img src="https://via.placeholder.com/100/7fff7f/000000?text=Imagen4" alt="Imagen4">
          <input type="radio" name="image" value="img4">
      </label>
      <label>
          <img src="https://via.placeholder.com/100/ff7fff/000000?text=Imagen5" alt="Imagen5">
          <input type="radio" name="image" value="img5">
      </label>
      <label>
          <img src="https://via.placeholder.com/100/ff7f7f/000000?text=Imagen6" alt="Imagen6">
          <input type="radio" name="image" value="img6">
      </label>
    </div> 
    <div>
      <input type="submit" value="Enviar" class="submit-button">
    </div>
    <div>
      <button type="button" class="back-button">Atrás</button>
    </div>
  </form>
</body>
</html>