<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/añadir.css">
    <title>GGP - Movimientos</title>
</head>
<body>
    <form action="/movimientos/submit" id="form-movimientos" class="form" method="POST">
        <h2 class="form_tittle">Movimiento</h2>
        <div class="form_container">
            <!-- Concepto -->
            <div class="form_group">
                <input type="text" id="concepto" name="concepto" class="form_input" placeholder="">
                <label for="concepto" class="form_label">Concepto</label>
                <span class="form_line"></span>
            </div>

            <!-- Cantidad -->
            <div class="form_group">
                <input type="number" id="cantidad" name="cantidad" class="form_input" placeholder=" " min="0.01" step="any">
                <label for="cantidad" class="form_label">Cantidad</label>
                <span class="form_line"></span>
            </div>

            <!-- Categoría -->
            <div class="form_group">
                <select id="id_categoria" name="id_categoria" class="form_input">
                    <option value="" disabled selected>Elegir categoría</option>
                    <!-- Opciones generadas dinámicamente -->
                </select>
                <label for="id_categoria" class="form_label">Categoría</label>
                <span class="form_line"></span>
            </div>

            <!-- Tipo de Pago -->
            <div class="form_group">
                <select id="id_tipo" name="id_tipo" class="form_input">
                    <option value="" disabled selected>Elegir tipo de pago</option>
                    <!-- Opciones generadas dinámicamente -->
                </select>
                <label for="id_tipo" class="form_label">Tipo de Pago</label>
                <span class="form_line"></span>
            </div>

            <!-- Tarjeta -->
            <div class="form_group">
                <select id="id_tarjeta" name="id_tarjeta" class="form_input">
                    <option value="" disabled selected>Elegir tarjeta</option>
                    <!-- Opciones generadas dinámicamente -->
                </select>
                <label for="id_tarjeta" class="form_label">Tarjeta</label>
                <span class="form_line"></span>
            </div>

            <!-- Fecha -->
            <div class="form_group">
                <input type="date" id="fecha" name="fecha" class="form_input" placeholder=" ">
                <label for="fecha" class="form_label">Fecha de movimiento</label>
                <span class="form_line"></span>
            </div>

            <!--Alerta-->
            <div id="alerta" class="alert" style="display: none;"></div>

            <!-- Botones -->
            <div class="button_container">
                <button type="submit" class="form_submit">Enviar</button>
                <button type="button" class="form_delete" onclick="goBackToHome()">Cancelar</button>
            </div>
            
        </div>
    </form>
    <script src="./js/movimientos-añadir.js"></script>
</body>
</html>