<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/estilos.css">
    <title>GGP - Movimientos</title> 
</head>

<body>
   <!-- Barra Lateral -->
   <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">×</a>
    <a href="#Inicio">Inicio</a>
    <a href="#Perfil">Perfil</a>
    <a href="#Tarjetas">Tarjetas</a>
    <a href="#Movimientos">Movimientos</a>
    <a href="#Ahorro">Ahorro</a>
    <a href="#Recordatorios">Recordatorios</a>
</div>

<!-- Encabezado -->
<div class="header">
    <!-- Imagen del logo como botón para abrir la barra lateral -->
    <img src="/src/img/logo.png" alt="Logo GGP">
    <h1>Gestor de Gastos Personales</h1>
    <nav class="nav">
        <h3>Usuario</h3>
        <img src="/src/img/icono1.png" alt="User" onclick="openSidebar()" class="open-btn">       
    </nav>
</div>
<script src="/src/js/sidebar.js"></script>

    <div class="container">
        <!-- Barra de título y botón -->
        <div class="title-bar">
            <h2>Movimientos</h2>
            <button id="openModal" class="btn-add">Agregar Movimiento</button>
        </div>

        <!-- Tabla de recordatorios -->
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th>Tipo de pago</th>
                    <th>Metodo de pago</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pago de servicios</td>
                    <td>$68</td>
                    <td>Ingreso</td>
                    <td>Débito</td>
                    <td>Tarjeta 1</td>
                    <td class="actions">
                        <button class="btn btn-edit">✏️</button>
                        <button class="btn btn-delete">🗑️</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pago de servicios</td>
                    <td>$68</td>
                    <td>Ingreso</td>
                    <td>Débito</td>
                    <td>Tarjeta 1</td>
                    <td class="actions">
                        <button class="btn btn-edit">✏️</button>
                        <button class="btn btn-delete">🗑️</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pago de servicios</td>
                    <td>$68</td>
                    <td>Ingreso</td>
                    <td>Débito</td>
                    <td>Tarjeta 1</td>
                    <td class="actions">
                        <button class="btn btn-edit">✏️</button>
                        <button class="btn btn-delete">🗑️</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pago de servicios</td>
                    <td>$68</td>
                    <td>Ingreso</td>
                    <td>Débito</td>
                    <td>Tarjeta 1</td>
                    <td class="actions">
                        <button class="btn btn-edit">✏️</button>
                        <button class="btn btn-delete">🗑️</button>
                    </td>
                </tr>
                <!-- Añadir más filas de recordatorios según sea necesario -->
            </tbody>
        </table>
        <!-- Paginación -->
        <div class="pagination">
            <button>&laquo;</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>&raquo;</button>
        </div>
    </div>
</body>
</html>