<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/añadir.css">
    <title>GGP - Recordatorios</title>
</head>
<body>
    <form action="" method="POST" id="form" class="form">
        <h2 class="form_tittle">Recordatorio</h2>
        <div class="form_container">
            <!-- Campo para el recordatorio -->
            <div class="form_group">
                <input type="text" id="name" class="form_input" placeholder=" ">
                <label for="name" class="form_label">Recordatorio</label>
                <span class="form_line"></span>
            </div>

            <!-- Campo para el tipo -->
            <div class="form_group">
                <input type="text" id="tipo" class="form_input" placeholder=" ">
                <label for="tipo" class="form_label">Tipo</label>
                <span class="form_line"></span>
            </div>

            <!-- Campo para la fecha -->
            <div class="form_group">
                <input type="date" id="dia" class="form_input">
                <label for="dia" class="form_label">Fecha</label>
                <span class="form_line"></span>
            </div>

            <!-- Contenedor de botones -->
            <div class="button_container">
                <input type="submit" class="form_submit" value="Guardar">
                <p class="warnings" id="warnings"></p>
                <input type="button" class="form_delete" value="Cancelar" onclick="goBackToHome()">
            </div>
        </div>
    </form>

    <script>
        function goBackToHome() {
            window.location.href = '/src/views/recordatorios.html';
        }
    </script>
    <script src="/src/js/recordatorios.js"></script>
</body>
</html>
