<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/tarjetas.css">
    <script src="https://kit.fontawesome.com/58dc328e94.js" crossorigin="anonymous"></script>
    <title>GGP - Tarjetas</title> 
</head>

<body>
    <!-- Barra Lateral -->
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">×</a>
        <div class="sidebar-name">Nombre del Usuario</div>
        <a href="./homepage.html"><i class="fas fa-home"></i> Inicio</a>
        <a href="#Perfil"><i class="fas fa-user"></i> Perfil</a>
        <a href="./tarjetas.html"><i class="fas fa-credit-card"></i> Tarjetas</a>
        <a href="./movimientos.html"><i class="fas fa-exchange-alt"></i> Movimientos</a>
        <a href="./ahorro.html"><i class="fas fa-piggy-bank"></i> Ahorro</a>
        <a href="./recordatorios.html"><i class="fas fa-bell"></i> Recordatorios</a>
    </div>

    <!-- Encabezado -->
    <div class="header">
        <!-- Imagen del logo como botón para abrir la barra lateral -->
        <img src="./img/logo.png" alt="Logo GGP">
        <h1>Gestor de Gastos Personales</h1>
        <img src="./img/icono1.png" alt="User" onclick="openSidebar()" class="open-btn" >       
    </div>
    <script src="./js/sidebar.js"></script>

    <div class="container">
        <!-- Barra de título y botón -->
        <div class="title-bar">
            <h2>Tarjetas</h2>
            <a class="btn-add" href="./tarjetas-añadir.html">Agregar Tarjeta</a>
        </div>

        <!-- Tabla de tarjetas -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ultimos 4 digitos</th>
                    <th>Limite de credito</th>
                    <th>Dia del corte</th>
                    <th>Saldo</th>
                    <th>Mes de vencimiento</th>
                    <th>Año de vencimiento</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody id="tabla-datos">
                <!-- Los datos se cargarán aquí -->
            </tbody>
        </table>
        <script>
            function eliminarTarjetas(id) {
                if (confirm('¿Estás seguro de que deseas eliminar esta tarjeta?')) {
                    fetch(`/api/tarjetas/${id}`, {
                        method: 'DELETE',
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al eliminar el tarjeta');
                        }
                        alert('tarjeta eliminado exitosamente');
                        location.reload(); // Recargar la página para actualizar la tabla
                    })
                    .catch(error => {
                        console.error('Error al eliminar la tarjeta:', error);
                        alert('No se pudo eliminar la tarjeta. Por favor, inténtalo de nuevo.');
                    });
                }
            }
        </script>
        <!-- Paginación -->
        <div id="pagination" class="pagination"></div>
        <script src="./js/paginacion-tarjetas.js"></script>
    </div>

</body>
</html>